@font-face {
	font-family: 'Malithi_Web';
	src: url('../fonts/malithi_web.eot');
	src: url('../fonts/malithi_web.woff') format('woff'),  url('../fonts/malithi_web.ttf') format('truetype'),  url('../fonts/malithi_web.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.background {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -22;
}
.errtxt
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}
.epihd
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #1D1D1D;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 10px;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: normal;
	line-height: 36px;
	padding-right: 10px;
	padding-left: 15px;
}

.suctxt
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #06F;
	list-style-image: none;
	list-style-type: none;
}

.youvotedfor
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
/* Episode */

.Textlinetp
{
	font-family: "Roboto Condensed", 'Malithi_Web',  Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 0px;
	line-height: 18px;
}

.Textlinetpdate
{
	font-family: "Roboto Condensed", 'Malithi_Web',  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 10px;
	line-height: 14px;
}
.mnbxnow
{
	display: inline-block;
	padding: 5px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 4px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #003399;
	border-left-color: #CCC;
}

/* Episode End */

.maintgline
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 28px;
	color: #FFF;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 6px;
	padding-bottom: 3px;
	background-color: #003399;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: normal;
	line-height: 36px;
}
.headerbn
{
	font-family: 'Malithi_Web', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #191919;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 8px;	
}

/* resultpage */
.headertap
{
	background-color: #000;
	display: inline-block;
	width: 100%;
}
.bodyareamn
{
	display: inline-block;
	width: 100%;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.bodyareamn2
{
	display: inline-block;
	width: 100%;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.smallvigtxtbd
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	text-align: center;
	border-right-width: 1px;
	border-left-width: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	font-weight: bold;
}
.smallvigtxt
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 6px;
	line-height: 17px;
	-moz-border-radius-bottomright: 8px;
-webkit-border-bottom-right-radius: 8px;
border-bottom-right-radius: 8px;
}
.smallvigtxtb
{
	font-family: "Roboto Condensed", 'Malithi_Web',  Arial, Helvetica, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
	color: #000;
	font-size: 18px;
	text-align: center;
	padding-top: 8px;
}
.smallvigtxtb img
{
	width: 40px;
	float: left;
	margin-right: 4px;
}
.teamhd
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 17px;
	margin-bottom: 5px;
	color: #FFF;
	font-size: 18px;
	text-align: center;
}
.smimgbox
{
	width: 35px;
	float: left;
	margin-top: 12px;
}

.teamhdbdy
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	float: left;
	margin-left: 5px;
}
.teamhdbdyhd2
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	float: left;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}
.teamhdbdyhd2 a
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.teamhdbdy a
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #121212;
	text-decoration: none;
}

.myconatiner
{
	width: 100%;
	display: inline-block;
	overflow-x: scroll;
	padding-bottom: 10px;
}
.scrollbxmain
{
	min-width:1112px;
}
.btn-info {
	color: #fff;
	background-color: #111111 !important;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	border-top-color: #121212 !important;
	border-right-color: #121212 !important;
	border-bottom-color: #121212 !important;
	border-left-color: #121212 !important;
	outline:none !important;
}
.btn-info:hover {
	background-color: #666 !important;
	border-top-color: #666 !important;
	border-right-color: #666 !important;
	border-bottom-color: #666 !important;
	border-left-color: #666 !important;
	outline: none !important;
}
.btn-info2 {
	color: #000;
	background-color: #FFFFFF !important;
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	margin-top: 5px;
	border-top-color: #121212 !important;
	border-right-color: #121212 !important;
	border-bottom-color: #121212 !important;
	border-left-color: #121212 !important;
	outline: none !important;
	margin-bottom: 5px;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
}
.btn-info2:hover {
	background-color: #666 !important;
	border-top-color: #666 !important;
	border-right-color: #666 !important;
	border-bottom-color: #666 !important;
	border-left-color: #666 !important;
	outline: none !important;
	color: #FFF;
}
.marksshw
{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
	color: #FFF;
	background-color: #000;
	text-align: center;
	width: 100%;
	font-size: 24px;
	margin-bottom: 15px;
}

.battleround
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #FFF;
	background-color: #0B0B0B;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-border-radius: 0px 20px 0px 0px;-moz-border-radius: 0px 20px 0px 0px;border-radius: 0px 20px 0px 0px;
}
.wintxt
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	clear: both;
	width: 100%;
	margin-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 19px;
}
.datedisplaytt
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0C0C0C;
	background-color: #FFCC00;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.datedisplay
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFF;
	background-color: #0066FF;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
}
.bxt
{
	border: 1px none #0B0B0B;
}
.battlestart4 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.battlestart4 img {
	border-radius: 5px 20px;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	background-color: #FFFFFF;
}
.battlestart4 img:hover {
}
.battlestart5 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.battlestart5 img {
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	background-color: #FFFFFF;
}
.battlestart5 img:hover {
}
.battlestart6 {
	padding-top: 15px;
	padding-bottom: 0px;
}

.battlestart6 img {
	-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;
	padding: 10px;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	background-color: #FFFFFF;
}
.battlestart5 img:hover {
}
.mepad
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	padding-top: 15px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	background-color: #FFF;
	margin-bottom: 5px;
}

.grayscale
{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* resultpage end */

/* Pagination */
.pagination_bot {
	clear: both;
	float: left;
	font-family: 'Malithi_Web', Arial, Helvetica, sans-serif;
	font-size: 19px;
	margin-bottom: 17px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	color: #FFF;
	font-weight: bold;
}
.pagination_bot a {
	background-color: #FBB913;
	color: #000;
	margin-left: -6px;
	margin-right: -6px;
	padding: 4px 8px;
	text-decoration: none;
	font-weight: bold;
}
.pagination_bot b u {
	background-color: #d81f25;
	color: #fff;
	margin-left: 2px;
	margin-right: 2px;
	padding: 4px 8px;
	text-decoration: none;
}
/* Pagination end */

.holdmnbox img
{
	-webkit-border-radius: 15px 0px 20px 20px;-moz-border-radius: 15px 0px 20px 20px;border-radius: 15px 0px 20px 20px;
}
.numberofviews2
{
	border-left: 1px solid #ccc;
	color: #4D4D4D;
	font-family: 'Fjalla One', sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	margin-top: 2px;
	padding-left: 5px;
}
.holdmnbox
{
	width: 100%;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #E9E9E9;
}
.sidetxttx
{
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: #252525;
	line-height: 21px;
	clear: both;
	text-decoration: none;	
}

.dwnbtnmn 
{
	font-family: 'Fjalla One', sans-serif;
	font-size: 12px;
	color: #CCC;
	background-color: #333;
	float: left;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	margin-top: 15px;
	text-decoration: none;
}
.dwnbtnmn:hover
{
	color: #FFF;
	background-color: #999;
}
.widgetholder
{
	clear: both;
	margin-bottom: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B5B5B5;
	width: 100%;
	display: inline-block;
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}
.numberofviews6
{
	font-family: "Roboto Condensed";
	font-size: 13px;
	color: #dcdcdc;
}

.mnheadingtp
{
	font-family: "Roboto Condensed";
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
}
.bdcrum
{
	font-family: "Roboto Condensed";
	font-size: 14px;
	color: #666;
	text-decoration: none;
}
.bdcrum a
{
	font-family: "Roboto Condensed";
	font-size: 14px;
	text-decoration: none;
	color: #B5B5B5;
	font-weight: normal;
	text-transform: uppercase;
	padding-right: 2px;
	padding-left: 2px;
}
.bdcrum a:hover
{
	font-family: "Roboto Condensed";

	text-decoration: underline;
	color: #333;
}

body {
/*background: url(http://hirumegastars.hirutv.lk/img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
.teamNames
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	color: #121212;
	clear: both;
	width: 100%;
	padding-top: 3px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #FFF;
	font-weight: bold;
	-webkit-border-radius: 11px 11px 0px 0px;
	-moz-border-radius: 11px 11px 0px 0px;
	border-radius: 11px 11px 0px 0px;
	text-decoration: none;
}
#yt-subscribe a
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	color: #FFF;
	text-decoration: none;
}
.yt-username, .yt-username a, a.yt-username, yt-subscribe a, yt-subscribe
{
	font-family: 'Roboto Condensed', sans-serif !important;
	font-size: 19px !important;
	color: #FFF !important;
	text-decoration: none !important;
}

.teamNamesSinhala
{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	margin-bottom: 12px;
	font-size: 16px;
	color: #121212;
	clear: both;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 3px;
	text-align: center;
	background-color: #FFF;
	font-weight: bold;
	-webkit-border-radius: 0px 0px 11px 11px;
	-moz-border-radius: 0px 0px 11px 11px;
	border-radius: 0px 0px 11px 11px;
	text-decoration: none;
}
.teamNames a:hover, .teamNamesSinhala a:hover
{
	text-decoration: none;	
}

.vids {
	display: inline-block;
	margin-bottom: 15px;
}
.tps {
	margin-top: 20px;
}
.btmft {
	background-color: #081e50;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #FFF;
	display: inline-block;
	width: 100%;
}
.ftbtm {
}
.readtxt {
	color: #FFF;
	background-color: #000;
	display: inline-block;
	width: 100%;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 16px;
}
.artilinktt {
	color: #FFF;
	background-color: #000;
	display: inline-block;
	width: 100%;
}
.artilinktt a{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	font-size: 17px;
	line-height: 0px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 100%;
	margin-top: 18px;
	margin-bottom: 0px;
	display: inline-block;
	clear: both;
}
.artilinkttsin {
	color: #FFF;
	background-color: #000;
	display: inline-block;
	width: 100%;
}
.artilinkttsin a{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 0px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 18px;
	display: inline-block;
	clear: both;
}
.artisinimg img:hover
{
	opacity:0.8;
}
.imgvid {
    left: 50%;
    margin-left: -66px;
    margin-top: -33px;
    position: absolute;
    top: 50%;
    z-index: 26;
}
.teamlogo {
	position: absolute;
	top: 0;
	z-index: 26;
	right: 0px;
	background-color: #0066FF;
	-webkit-border-radius: 0px 0px 4px 25px;
	-moz-border-radius: 0px 0px 4px 25px;
	border-radius: 0px 0px 4px 25px;
}
.teamlogo img {
	width:75px;
}
.pervide
{
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.artinamebig
{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	font-size: 27px;
	color: #FFF;
	padding-top: 20px;
	clear: both;
	float: left;
	line-height: 29px;
}
.artinamethumb
{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #FFF;
	clear: both;
	float: left;
}
/* Social Media */
	.programme-topic {
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 12px;
	float: left;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 10px;
	color: #FFF;
}
.social_bx {
	width: 100%;
	display: inline-block;
	text-align: right;
	float: right;
	padding-top: 11px;
	padding-right: 5px;
	padding-bottom: 11px;
	padding-left: 5px;
		/*opacity: 0.9;*/
	background-color: #000;
	margin-bottom: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.scl_icn2 {
    
  
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 4px;
	padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
	
}
.scl_icn {
    width: 35px;
    float: left;
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
	
}
.scl_icn img{
-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;
}
/* Social Media End */


/* Video Player Box Start */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/* Video Player Box End */


/* Navigation */

#nav {
	width: 100%; /* 1000 */
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	margin-bottom: 8px;
}
#nav > a {
	display: none;
}
#nav li {
	position: relative;
	list-style-image: none;
	list-style-type: none;
}
#nav li a {
	color: #fff;
	display: block;
}
#nav li a:active {
	background-color: #E03E97 !important;
}
#nav span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #0099FF;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
}
/* first level */

#nav > ul {
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#214989+0,266ccd+100 */
	background: #214989; /* Old browsers */
	background: -moz-linear-gradient(top, #214989 0%, #266ccd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #214989 0%, #266ccd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #214989 0%, #266ccd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214989', endColorstr='#266ccd', GradientType=0 ); /* IE6-9 */
	margin: 0px;
	padding: 0px;
	border-radius: 0px 0px 5px 0px;
	-moz-border-radius: 0px 0px 5px 0px;
	-webkit-border-radius: 0px 0px 5px 0px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
}
#nav > ul > li {
	width: 11%;
	height: 100%;
	float: left;
}
#nav > ul > li > a {
	height: 100%;
	font-size: 15px; /* 24 */
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
#nav > ul > li:not( :last-child ) > a {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #2356A3;
	padding-top: 10px;
	padding-bottom: 10px;
}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
	background-color: #0066FF;
}
/* second level */

#nav li ul {
	background-color: #004080;
	display: none;
	position: absolute;
	top: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 999999;
}
#nav li:hover ul {
	display: block;
	left: 0;
	right: 0;
}
#nav li:not( :first-child ):hover ul {
	left: -1px;
}
#nav li ul a {
	font-size: 13px; /* 15 (20) */
	text-decoration: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0066FF;
	padding-top: 0.75em;
	padding-right: 0.45em;
	padding-bottom: 0.75em;
	padding-left: 0.45em;
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
	background-color: #337FC1;
	text-decoration: none;
}
 @media only screen and ( max-width: 62.5em ) /* 1000 */ {
#nav {
	width: 100%;
	position: static;
	margin: 0;
}
}
 @media only screen and ( max-width: 40em ) /* 640 */ {
html {
	font-size: 75%; /* 12 */
}
#nav {
	position: relative;
	top: auto;
	left: auto;
}
#nav > a {
	width: 3.125em; /* 50 */
	height: 3.125em; /* 50 */
	text-align: left;
	text-indent: -9999px;
	background-color: #2355A1;
	position: relative;
}
#nav > a:before, #nav > a:after {
	position: absolute;
	border: 2px solid #fff;
	top: 35%;
	left: 25%;
	right: 25%;
	content: '';
	z-index: 99999;
}
#nav > a:after {
	top: 60%;
}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
	display: block;
}
/* first level */

#nav > ul {
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99999;
	margin: 0px;
	padding: 0px;
}
#nav:target > ul {
	display: block;
}
#nav > ul > li {
	width: 100%;
	float: none;
}
#nav > ul > li > a {
	height: auto;
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;	
}
#nav > ul > li:not( :last-child ) > a {
	border-bottom-width: 1px;
	border-right-style: none;
	border-bottom-style: solid;
	border-bottom-color: #001C46;
}
/* second level */

#nav li ul {
	position: static;
	padding: 1.25em; /* 20 */
	padding-top: 0;
}
}
/* navigation end */

.topright {
	background-color: #6615bb;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	padding-right: 15px;
	padding-left: 15px;
	color: #845BD7;
}
.topright a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.abclogo {
	display: inline-block;
	clear: both;
	/*float: right;*/
}
/* background Vidoes */
.theartists {
	float: left;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	border-left-width: 15px;
	border-left-style: solid;
	border-left-color: #2567C3;
	font-weight: bold;
	background-color: #FFF;
	background-position: left;
	display: inline-block;
	padding-top: 2px;
	height: 42px;
}
.mnartisit {
	float: left;
	clear: both;
	margin-top: 6px;
}
.desctxt
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;	
}
.headerrealtedsongs
{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	line-height: 0px;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.mnartisit a {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	line-height: 0px;
}
.mnartisitsub {
	float: left;
	clear: both;
	margin-top: -8px;
}
.mnartisitsub a {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 10px;
	line-height: 0px;
}
.triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 42px solid white;
	border-right: 40px solid transparent;
	float: left;
	margin-top: 0px;
}
.battlestart {
	padding-top: 5px;
	padding-bottom: 5px;
}
.battlestart img {
	border-radius: 5px 5px;
	padding: 5px;

}
.battlestart img:hover {
}




.battlestart2 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.battlestart2 img {
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px solid #FF0000;

	padding: 3px;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
}
.battlestart2 img:hover {
	opacity:0.8;
}

.vsarea {
	clear: both;
}
.vs {
	position: relative;
	height: 100%;
}

.mntp
{
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
}

.vs img {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-top: 15%;
}
.btbk {
	display: inline-block;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-top-left-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-topeft: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	width: 100%;
	clear: both;
	opacity: 0.9;
	background-color: #0D0D2D;
	padding-right: 6px;
	padding-left: 6px;
}
.btbk {
	display: inline-block;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	width: 100%;
	clear: both;
	opacity: 0.9;
	background-color: #0D0D2D;
	padding-right: 6px;
	padding-left: 6px;
}
.nextepisodedate {
	background-color: #FFF;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
	padding-bottom: 8px;
	text-align: center;
	display: inline-block;
	width: 100%;
	clear: both;
}
.sintxt {
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 20px;
	float: left;
	padding-left: 25px;
	padding-right: 5px;
}
.engtxt {
	font-family: 'Roboto Condensed', 'Malithi_Web', sans-serif;
	font-size: 19px;
	float: left;
	line-height: 21px;
}
.playlist {
	width: 100%;
	background-color: #000;
	display: inline-block;
}
.bartag {
	margin-bottom: 10px;
}
.tmblock {
	padding: 5px;
}
.tmblock img {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	background-color: #0066FF;
}
.tmblockart {
	padding-top: 5px;
	padding-right: 4px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.artiimg
{
	width:100%;
	clear:both;
}
.artiimg img
{
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px solid #000000;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
	width: 100%;
}
.artnamelist
{
	width: 100%;
	clear: both;		
}

.artnamelist a
{
	width: 100%;
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 19px;
	color: #FFF;
	background-color: #333333;
	text-align: center;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration: none;
	line-height: 15px;
	clear: both;
}
.artnamelistlinkonly a
{
	width: 100%;
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 19px;
	color: #FFF;
	background-color: #515151;
	text-align: center;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 3px;
	text-decoration: none;
	line-height: 24px;
	clear: both;
}
.artnamelistlinkonly a:hover
{
}

.artnamelist a:hover
{
	background-color: #000;	
}


.tmblock img:hover {
	opacity: 0.9;
}
.tmbkend {
	background-color: #FFF;
}

.subheadsinside
{
	font-family: 'Malithi_Web', 'Roboto Condensed', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #000;
	text-align: left;
	clear: both;
	width: 100%;
	padding-right: 8px;
	padding-left: 8px;
}
/* Background videos end */

.mnliner {
	margin-top: 15px;
	margin-bottom: 5px;
	display: inline-block;
	padding: 10px;
	background-color: #FFF;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border: 0px solid #000000;
	width: 100%;
}
.mnliner2 {
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	margin-top: 15px;
	margin-bottom: 10px;
	display: inline-block;
	background-color: #003399;
	border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border: 0px solid #000000;
	width: 100%;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.textliner {
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 17px;
	line-height: 19px;
	color: #333;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.teamslist
{
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 10px;
}

.breadcrum
{
	background-color: #039;
	width: 100%;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 15px;
	color: #FFF;
}
.breadcrum a
{
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 12px;
	color: #97B9FF;
	font-weight: bold;
	vertical-align: -1%;
}
.clickbtn
{
	font-family: 'Fjalla One', sans-serif;
	font-size: 11px;
}
.clickbtn a
{
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	color: #CCC;
	background-color: #333;
	float: left;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-top: 25px;
	text-decoration: none;
}
.clickbtn a:hover
{
	color: #FFF;
	background-color: #666;
}
.txthome
{
	font-family: 'Malithi_Web', 'Roboto', sans-serif;
	font-size: 16px;
	text-align: left;
	width: 100%;
	margin-top: 20px;
	color: #FFF;
	line-height: 18px;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
}

.artisinimg img
{
	-webkit-border-radius: 0px 0px 19px 19px;-moz-border-radius: 0px 0px 19px 19px;border-radius: 0px 0px 19px 19px;
}

/* ********************************************************************* Footer CSS *************************************************************/
.ftnav {
	width: 100%;
	background-color: #333;
}
.ftnav ul {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: none;
}
.ftnav ul li {
	margin: 0px;
	padding-top: 4px;
	padding-right: 15px;
	padding-bottom: 4px;
	padding-left: 15px;
	float: left;
}
.ftnav ul li a {
	font-family: 'Fjalla One', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}
.ftnav ul li a:hover {
	color: #999;
}
.ftbtm {
	font-family: 'Fjalla One', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.ftbtm a {
	color: #06F;
	text-decoration: none;
}
.btmft {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #141414;
}
.qlink {
	float: left;
	clear: both;
}
.quickbtnaps {
	width: 100%;
	background-color: #0A0A0A;
	padding-top: 10px;
	padding-bottom: 10px;
}
.quickbtnaps ul {
	margin: 0px;
	list-style-position: outside;
	list-style-image: none;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}
.quickbtnaps ul li {
	padding-top: 4px;
	padding-bottom: 4px;
	float: left;
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.qlink img {
	width: 100%;
}
.qlink img:hover {
	opacity: 0.5;
}
.qlink img {
	width: 80px;
!important;
	margin-left: 23px!important;
	margin-right: 23px!important;
}
.gonewsmobile {
	display: none;
}

/* for different sizes */


@media only screen and (max-width : 1200px) {
.qlink img {
	width: 70px;
!important;
	margin-left: 13px!important;
	margin-right: 13px!important;
}
.newsbox {
	padding-left: 5px;
	padding-right: 5px;
}
}
 @media only screen and (max-width : 990px) {
.qlink img {
	width: 75px;
!important;
	margin-left: 3px!important;
	margin-right: 3px!important;
}
}
 @media only screen and (max-width : 767px) {
.qlink img {
	width: 57px;
!important;
	margin-left: 2px!important;
	margin-right: 2px!important;
}
.gonewsdektop {
	display: none;
}
.gonewsmobile {
	display: block;
}
}
@media only screen and (max-width : 740px) {
.qlink img {
	width: 57px;
!important;
	margin-left: 9px!important;
	margin-right: 9px!important;
}
}
@media only screen and (max-width : 650px) {
.bookmarkbtn {
	display: none;
}
.bookmarkbtn2 {
	display: block;
}
.gonewsdektop {
	display: none;
}
.gonewsmobile {
	display: block;
}
}
 @media only screen and (max-width : 480px) {
.qlink img {
	width: 50px;
!important;
	margin-left: 3px!important;
	margin-right: 3px!important;
}
.nwsheading a {
	font-size: 20px;
	line-height: 21px;
}
.bdtop img {
	text-align: left;
	margin-right: 12px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	max-width: 260px;
	margin-right: 10px;
}
.gonewsdektop {
	display: none;
}
.gonewsmobile {
	display: block;
}
.maintgline
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 6px;
	padding-bottom: 3px;
	background-color: #003399;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: normal;
	line-height: 26px;
}
.headerbn
{
	font-family: 'Malithi_Web', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #191919;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 8px;	
}
}
 @media only screen and (max-width : 320px) {
.qlink img {
	width: 50px;
!important;
	margin-left: 2px!important;
	margin-right: 2px!important;
}
.bdtop img {
	text-align: left;
	margin-right: 12px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	max-width: 260px;
	margin-right: 0px;
}
.gonewsdektop {
	display: none;
}
.gonewsmobile {
	display: block;
}
.maintgline
{
	font-family: 'Malithi_Web', "Roboto Condensed", Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 6px;
	padding-bottom: 3px;
	background-color: #003399;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight: normal;
	line-height: 26px;
}
.headerbn
{
	font-family: 'Malithi_Web', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #191919;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 8px;	
}
}
/* Footer CSS End */

