<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="15000"/>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="BiddingService.BiddingService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="BiddingService.IBiddingService" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <!--<add key="dbConString" value="Data Source=LAPTOP-CD317RQU;Initial Catalog=ONLINE_BIDDING;Integrated Security=True" />
    <add key="dbLibrary" value="ONLINE_BIDDING.dbo" />-->
    <add key="dbConString" value="Data Source=10.2.5.253;Initial Catalog=ONLINE_BIDDING;Persist Security Info=True;User ID=sa;Password=Bell123"/>
    <add key="dbLibrary" value="ONLINE_BIDDING.dbo"/>
    <add key="rootFolder" value="h:\root\home\pathum83-003\www\uat.ezbidlanka"/>
  </appSettings>
</configuration>